<!-- your html code here -->
<div class="container pb-5">
  <h6 class="display-6 fw-bold">Contact</h6>
  <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec a diam lectus. Sed sit amet ipsum
    mauris.
    Maecenas congue ligula ac quam viverra nec consectetur ante hendrerit. Donec et mollis dolor.</p>
  <div class="area-contact">
    <form>
      <div class="row mb-3">
        <label for="exampleFormControlInput1" class="col-sm-2 col-form-label">Your E-Mail</label>
        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Your email">
      </div>
    </form>
  </div>

  <div class="row mb-3">
    <label for="exampleFormControlTextarea1" class="col-sm-2 col-form-label">Your message</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
  </div>
  <div class="col-12 justify-content-end d-flex">
    <button type="submit" class="btn btn-primary">Submit</button>
  </div>
</div>