<!-- your html code here -->
 <h6 class="display-6 fw-bold">Contact</h6>
 <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec a diam lectus. Sed sit amet ipsum mauris. Maecenas congue ligula ac quam viverra nec consectetur ante hendrerit. Donec et mollis dolor.</p>
<div class="mb-3 row">
  <label for="inputEmail" class="col-sm-2 col-form-label">Your E-mail</label>
  <div class="col-sm-10">
    <input type="text" readonly class="form-control" id="inputEmail" value="Your e-mail">
  </div>
</div>
<div class="mb-3 row">
  <label for="inputMessage" class="col-sm-2 col-form-label">Your Message</label>
  <div class="col-sm-10">
    <input type="text" class="form-control" id="inputMessage">
  </div>
</div>