<!-- your html code here -->
 <div class="container py-5">
    <div class="row aling-items-center">

        <div class="col-md-8">
    <h3>
        <strong> This First Heading</strong>
        <span class="text-secondary">Will Catch Your Eye</span>
    </h3>

    <p class="text-secondary">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. <br>
        Nam alias numquam necessitatibus libero neque reiciendis ut soluta. <br>
        Vero eum accusantium doloremque dolor aspernatur dolore iste ipsam corrupti velit. 
        Modi, incidunt. 
    </p>
</div>

<div class="col-md-4 text-center">
    <img src="assets/img/1.jpg"
        class="img-fluid rounded-circle"
        alt="imagen"
        style="max-width:250px;">
</div>




